@media screen and (min-width: 768px) {
   .container{
       max-width: 740px;
   }


   #intro .row{
    display: flex;
    flex-wrap: wrap;
}

#intro .col{
    width: calc(100% / 3);
}

#intro .col:first-child{
    width: calc(100% / 3 * 2);
}

#intro .col{
    padding: 0 10px;
}

   

#planning .card{
       padding: 0 20px;
       width: 100%;
   }

#planning .sec-col{
   margin: 0 30px;
}

#planning .row{
       width: 100%;
       padding: 20px 0;
   }


#planning .col > h2{
    padding: 20px 0;
    font-size: 50px;
}

.fa-arrow-down{
    margin-bottom: 20px;
}

.testimonial-col{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.testimonial-img{
    width: 20%;
}

.bio{
    width: 55%;
    text-align: center;
}

.benefits h3{
    font-size: 40px;
}

.benefits-row{
    flex-direction: row;
    flex-wrap: wrap;
}

.benefits-col{
    width: 45%;
    height: 300px;
    padding: 5px;
}

.aboutus-row{
    flex-direction:row ;
}

.aboutus-col{
    width: 45%;
}


#aboutus h2{
    font-size: 3rem;
}

#aboutus p{
    font-size: 1.5rem;
}

}

@media screen and (min-width:992px) {
    .container{
        max-width: 950px;
    }

    .hamburger-menu{
        display: none;
    }

    ul{
        display: block;
    }

    

    #first-planning
    

}

