*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.white{
    color: #fff;
}

.bg-white{
    background-color: #fff;
}

/* nav */
nav{
    background-color: #0084FD;
}

#navbar{
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 24px;
}

/*  first section */

.bg-purple{
    background-color: #9792E4;
}

.purple{
    color: #9792E4;
}

.row{
    width: 100%;
    border: 2px dashed red;
    margin-top: 50px;
}

.col{
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
    border: 1px dashed black;
}

.col-large{
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
    border: 1px dashed black;
    height: 400px;
}

.card-large{
    height: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
}
.card{
    height: 300px;
    background-color: #B5DDFF;
    border-radius: 20px;
}

/* images-section */
.images-col{
    padding: 20px 0;
}

.images-card{
    height: 300px;
    background-color: #B5DDFF;
}


h2, p{
    padding: 20px 0;
}

#testimonial{
    text-align: center;
}

h4, h3{
    text-align: center;
    padding: 20px 0;
}

/* testimonial-section */
.testimonial-row{
    width: 100%;
    border: 1px solid red;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}
.testimonial-col{
    width: 55%;
    height: 250px;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color:#9792E4;
    border: 1px dashed black;
    margin: 0 auto;
    margin-bottom: 10px;
}

.benefits-row{
    width: 100%;
    border: 1px solid red;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.benefits-col{
    width: 55%;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px dashed black;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
}

/* about us */

.aboutus-row{
    border: 1px solid red;
    width: 1000%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 30px;
}

.aboutus-row{
    display: flex;
    width:100%;
    flex-direction: column;
}


.aboutus-col{
    width: 80%;
    border-radius: 20px;
    border: 1px dashed black;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #fff;
}

.aboutus-card{
    border: 1px dashed red;
    height: 250px;
    
}

/* get started */
.box{
    height: 500px;
    padding: 20px;
    border: 1px dashed black;
}

/* footer */

footer{
    background-color: black;
    height: 200px;
}

footer p{
    padding-top: 30px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}