/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Palette{
    azzurro: #B5DDFF;
    blu: #0084FD;
    lilla: #9792E4;
    gold: #FDC15B;

} */

/* Utils */
.bg-purple{
    background-color: #9792E4;
}

.purple{
    color: #9792E4;
}


body{
    padding-top: 80px;
    font-family: 'PT Sans', sans-serif;
}

.flex{
    display: flex;
}

.container{
    max-width: 400px;
    margin: 0 auto;
}

.white{
    color: #fff;
}

.bg-white{
    background-color: #fff;
}

/* header */
header{
    height:80px;
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

ul{
    display: none;
}

#navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 24px;
}

a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

#start{
    background-color: #FFFFFF;
    border-radius: 20px;
    color:#000;
    text-align: center;

}

/* intro */

#intro .row{
    width: 100%;
    margin-top: 50px;
}

#intro .col{
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

#intro .card{
    border-radius: 20px;
    padding-top: 20px;
    background-color: #B5DDFF;
}

#intro h3{
    color: #0084FD;
}

#intro p{
    padding: 20px;
}

#phone-img{
    width: 200px;
}

#intro i{
    color:#0084FD;
    text-align: center;
    font-size: 4rem;
}

/* starting planning */
#planning .col{
    padding: 20px 0;
}

#first-planning{
    width: 100%;
}

#planning h2, p{
    padding: 20px 0;
    text-align: center;
}

#planning h2{
    font-size: 2rem;
}

#planning .sec-col{
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    text-align: center;
}


#sec-planning{
    width: 100%;
}

.fa-arrow-down{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}


#testimonial{
    text-align: center;
    margin-top: 30px;
}

#testimonial h4, h2{
    padding: 20px 0;
}

#testimonial h2{
    font-size: 3rem;
    color:#9792E4
}

/* testimonial-section */
.testimonial-row{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.testimonial-col{
    width: 55%;
    border-radius: 20px;
    background-color:#9792E4;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 20px 0;
    color: #fff;
}

.testimonial-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 10px;
}

/* benefits */

.benefits-row{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.benefits-col{
    width: 55%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
    padding:0 20px;
}

#benefits a{
    display: inline-block;
    background-color: #9792E4;
    color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    line-height: 10px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

#benefits h3{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

/* about us */

.aboutus-row{
    display: flex;
    width:100%;
    flex-direction: column;
}


.aboutus-col{
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #fff;
}

.fa-quote-left{
    font-size: 60px;
    color: #9792E4;
    position: relative;
    right: 50px;
    bottom:80px;
}

.aboutus-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 10px;
}

/* get started */
.box{
    height: 500px;
    padding: 20px;
    border: 1px dashed black;
}

#get-started{
    color: #fff;
    text-align: center;
}

/* footer */

footer{
    background-color: black;
    height: 200px;
}

footer p{
    padding-top: 30px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}